<div >
    <div class="category-content no-padding">
        <ul class="navigation navigation-main navigation-accordion">
            <!-- Main -->
            <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
            <li class="active"><a href="/#/"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
            <li>
                <a href="#"><i class="icon-stack2"></i> <span>Painel de controle</span></a>
                <ul>
                    <li><a href="layout_navbar_fixed.html">Cadastro de Usuario</a></li>
                    <li><a href="layout_navbar_sidebar_fixed.html">Carga de Categoria</a></li>
                    <li><a href="layout_sidebar_fixed_native.html">Perfil Sistema</a></li>
                    <li><a href="layout_navbar_hideable.html">Configurações e Parametrização</a></li>
                    <li><a href="layout_navbar_hideable_sidebar.html">TimeSheet</a></li>
                    <li><a href="layout_footer_fixed.html">Fixed footer</a></li>
                    <li class="navigation-divider"></li>
                    <li><a href="boxed_default.html">Boxed with default sidebar</a></li>
                    <li><a href="boxed_mini.html">Boxed with mini sidebar</a></li>
                    <li><a href="boxed_full.html">Boxed full width</a></li>
                </ul>
            </li>
    </ul>
    </div>
</div>