    <!-- Page header -->
<div class="page-header page-header-inverse">
    <!-- Main navbar -->
    <div class="navbar navbar-inverse navbar-transparent navbar-fixed-top" ng-include="'./Home/TopMenu'"></div>
    <!-- /main navbar -->
    <!-- Page header content -->
    <div ng-include="'/Home/Avatar'"></div>
    <!-- /page header content -->
    <!-- Second navbar -->
    <div ng-include="'/Home/MainMenu'"></div>
    <!-- /second navbar -->
</div>
<!-- /page header -->

<div ng-view></div>
<!-- Page container -->
<!-- /page container -->

<div class="navbar navbar-default navbar-fixed-bottom" ng-include="'./Home/Footer'"></div>
    
