<!DOCTYPE html>
<html lang="pt-br" ng-app="Trade4B">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trade4B - Social Business Network - Beta 0.0.0.1</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/css/icons/icomoon/styles.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/core.css" rel="stylesheet" />

    <link href="~/css/components.css" rel="stylesheet" />
    <link href="~/css/colors.css" rel="stylesheet" />
    <link href="~/css/toastr/toastr.min.css" rel="stylesheet" />


   



</head>

<body class="navbar-bottom navbar-top">
    <div ng-include="'./Open/Body'">

    </div>
    <!-- Core JS files -->
    <script src="~/script/jquery.min.js"></script>
    <script src="~/script/jquery.cookie.js"></script>
    <script src="~/script/jquery-mask-plugin/jquery.mask.min.js"></script>
    <script src="~/script/bootstrap.min.js"></script>
    <script src="~/script/js/plugins/ui/moment/moment.min.js"></script>
    <script src="~/script/js/plugins/pickers/pickadate/picker.js"></script>
    <script src="~/script/js/plugins/pickers/pickadate/picker.date.js"></script>
    <script src="~/script/js/plugins/pickers/pickadate/picker.time.js"></script>
    <script src="~/script/js/plugins/pickers/daterangepicker.js"></script>
    <script src="~/script/toastr.min.js"></script>

    <script src="~/script/js/plugins/ui/nicescroll.min.js"></script>
    <script src="~/script/js/plugins/forms/selects/select2.min.js"></script>
    <script src="~/script/js/plugins/ui/drilldown.js"></script>


    <script src="~/script/js/plugins/forms/styling/uniform.min.js"></script>
    <script src="~/script/js/plugins/ui/fullcalendar/fullcalendar.min.js"></script>
    <script src="~/script/js/plugins/visualization/echarts/echarts.js"></script>
    <script type="text/javascript" src="~/script/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="~/script/js/plugins/loaders/blockui.min.js"></script>
    <script src="~/script/js/plugins/ui/fab.min.js"></script>

    <script type="text/javascript" src="~/script/js/plugins/notifications/jgrowl.min.js"></script>

    <script src="~/script/js/plugins/pickers/anytime.min.js"></script>

    <script src="~/script/js/plugins/pickers/pickadate/legacy.js"></script>

    <script src="~/script/angular.min.js"></script>
    <script src="~/script/angular-animate.min.js"></script>
    <script src="~/script/angular-aria.min.js"></script>
    <script src="~/script/angular-cookies.min.js"></script>
    <script src="~/script/angular-loader.min.js"></script>
    <script src="~/script/angular-message-format.min.js"></script>
    <script src="~/script/angular-messages.min.js"></script>
    <script src="~/script/angular-parse-ext.min.js"></script>
    <script src="~/script/angular-resource.min.js"></script>
    <script src="~/script/angular-sanitize.min.js"></script>
    <script src="~/script/angular-route.min.js"></script>
    <script src="~/script/loading-bar.min.js"></script>

    <script src="~/app/OpenSquare.js"></script>
    <script src="~/app/Controller/TimeSheetController.js"></script>
    <script src="~/app/Controller/DashBoardController.js"></script>
    <script src="~/app/Controller/UserController.js"></script>
    <script src="~/app/Controller/AdminUserController.js"></script>
    <script src="~/app/Service/UserService.js"></script>
    <script src="~/app/Service/TimeSheetService.js"></script>
    <script src="~/app/Service/adminuserservice.js"></script>
    <script src="~/app/Directive/MaskDirective.js"></script>
</body>
</html>