<div >
    <div class="category-content no-padding">
        <ul class="navigation navigation-main navigation-accordion">
            <!-- Main -->
            <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
            <li class="active"><a href="/#/"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
            <li>
                <a href="#"><i class="icon-stack2"></i> <span>Painel de controle</span></a>
                <ul>
                    <li><a href="/#/Users">Cadastro de Usuario</a></li>
                    <li><a href="/#/Categoria">Carga de Categoria</a></li>
                    <li><a href="/#/Profile">Perfil Sistema</a></li>
                    <li><a href="#/Permissoes">Configurações e Parametrização</a></li>
                    <li><a href="/#/TimeSheet">TimeSheet</a></li>
                    <li><a href="/#/Empresas e Parceiros">Fixed footer</a></li>
                    <li class="navigation-divider"></li>
                    <li><a href="/#/Relatorio">Relatorios</a></li>
                    <li><a href="/#/Chat">Chamados de Usuarios</a></li>
                    <li><a href="/#/Unlocked">Bloqueio de Parceiros</a></li>
                </ul>
            </li>
    </ul>
    </div>
</div>