<!-- Vertical form modal -->
<div id="modal_form_vertical" class="modal fade"  ng-controller="AdminUserController" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">Cadastro Usuario</h5>
            </div>
            <form >
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Nome</label>
                                <input type="text" ng-model="model.name" placeholder="name" class="form-control">
                            </div>
                            <div class="col-sm-6">
                                <label>Sobre Nome</label>
                                <input type="text" ng-model="model.lastname" placeholder="sobre nome" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Endereço</label>
                                <input type="text" ng-model="model.address" placeholder="endereço " class="form-control">
                            </div>
                            <div class="col-sm-6">
                                <label>Address line 2</label>
                                <input type="text" ng-model="model.complement" placeholder="complemento endereço" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-4">
                                <label>City</label>
                                <input type="text" ng-model="model.city" placeholder="cidade" class="form-control">
                            </div>
                            <div class="col-sm-4">
                                <label>State/Province</label>
                                <input type="text" ng-model="model.state" placeholder="estado" class="form-control">
                            </div>
                            <div class="col-sm-4">
                                <label>ZIP code</label>
                                <input type="text" ng-model="model.zipcode" placeholder="cep" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Email</label>
                                <input type="text" placeholder="email corporativo" class="form-control" ng-model="model.email">
                                
                            </div>
                            <div class="col-sm-6">
                                <label>Phone #</label>
                                <input type="text" placeholder="+99-99-9999-9999" data-mask="+99-99-9999-99999" class="form-control" ng-model="model.phone">
                                
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Senha</label>
                                <input type="password" placeholder="senha" class="form-control" ng-model="model.password">
                      
                            </div>
                            <div class="col-sm-6">
                                <label>Confirme senha</label>
                                <input type="password" placeholder="senha" data-mask="+99-99-9999-9999" class="form-control" ng-model="model.repassword">
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary"  ng-click="SaveUser()">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /vertical form modal -->